table {
  border-radius: 10px;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 2%;
}
tr {
  display: inline-flex;
  align-items: center;
  margin: 2% 0 2% 0;
  border-radius: 10px;
  border: solid grey 1px;
  justify-content: flex-end;
  width: 100%;
}

td,
th {
  font-size: 20px;
  display: flex;

  width: 100%;
}
.comentarioAnterior {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
