* {
  font-size: 1.1em;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-items: center;
}
.contenidoFormulario {
  padding: 0 2% 3% 2%;
  border: grey solid 2px;
}
#idForm {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 10%;
}
.input {
  margin-top: 1%;
}

#submit {
  background-color: goldenrod;
  margin-top: 10%;
  width: 100%;
  height: 7vh;
}

#credenciales {
  color: red;
  text-align: center;
  margin-bottom: 2%;
  font-size: 0.8em;
}

.consejo {
  text-align: center;
}
@media (max-width: 1500px) {
  * {
    font-size: 1.05em;
  }
}
@media (max-width: 600px) {
  .contenidoFormulario {
    width: 90%;
  }
  * {
    font-size: 1em;
  }
}
