.flechaMenu {
  height: 20px;
  width: 20px;
  transition: 0.5s;
}
.flechaMenu:hover {
  height: 25px;
  width: 25px;
}
.divDesplegable {
  position: relative;
  align-self: flex-end;
  margin-left: 20%;
  width: 200px;
  text-align: end;
  font-weight: bold;
  font-size: 18px;
}

.desplegable {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  display: none;
  width: 200px;
  font-size: 15px;
  background-color: #f9a519;
  border-radius: 10px;
}
.desplegable a {
  text-decoration: none;
  background-color: #f9a519;
  color: white;
  padding: 10%;
  font-size: 16px;
}
.desplegable :nth-child(1n) {
  margin-top: 8%;
}
.desplegable :nth-child(2n) {
  margin-bottom: 5%;
}

.desplegable a:hover {
  background-color: rgb(255, 250, 250, 0.3);
  color: rgb(0, 0, 0, 0.5);
}

@media (max-width: 650px) {
  .desplegable {
    width: fit-content;
  }

  .desplegable a {
    font-size: 20px;
  }
  .divDesplegable {
    margin-left: 0;
  }
}
