* {
  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  height: 30vh;
  display: flex;
}

#logoMaleteo {
  display: flex;
  align-items: flex-start;
  align-self: center;
  padding-left: 15vw;
  width: 30%;
}

#logoMaleteo :hover {
  -webkit-animation: pulse 2s;
  animation: pulse 2s;
}

#imagenFondo {
  background-image: url("/assets/img/jumbo@2x.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;

  display: flex;
  margin-bottom: 10vh;
}

#transparencia {
  height: 100%;
  width: 30%;
  background-color: rgb(0, 0, 0, 0.8);
  align-items: flex-start;
  display: flex;
  margin-left: 10vw;
}

#dentroTransparencia {
  margin-top: 10vh;
  align-self: center;
  align-items: flex-start;
  margin-left: 10%;
}

.logoMarkets {
  display: inline-block;
  width: 35%;
  margin: 0 3vh;
}

h1 {
  color: white;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 10%;
  margin-right: 10%;
}
.imgResponsive {
  max-width: 100%;
  height: auto;
}

#comoFunciona {
  text-align: center;
  font-size: 1.5em;
}
.articulos {
  display: flex;
  margin-top: 2vh;
  height: 40vh;
  font-size: 1.3em;
}
.articulo {
  margin: 0 1vh 0 1vh;
}

h3 {
  margin: 3vh 0;
}

.botones {
  background-color: goldenrod;
  display: inline-block;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  font-size: 40px;
}

#movil {
  display: inline-block;
  width: 20vw; /*  Cambiar a 50 en pantalla móvil  */
  height: auto;
  justify-content: left;
}

#movil :hover {
  -webkit-animation: wobble 2s;
  animation: wobble 2s;
}

#formulario {
  height: 100%;
}
#bordeFormulario {
  height: 10%;
  border: rgb(0, 0, 0, 0.2) solid 1px;
}

#divFormulario {
  display: block;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}
.camposFormularios {
  font-size: 1.5em;
  width: 90%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
.labelFormulario {
  font-size: 1.5em;

  margin-left: 5%;
}

#divMovilFormulario {
  display: flex;
  margin-top: 5vh;
  align-items: center;

  justify-content: space-between;

  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

h4 {
  margin-top: 5%;
  font-size: 3em;
  margin-bottom: 5%;
  margin-left: 5%;
}
#enviar {
  justify-self: flex-end;
  align-self: flex-end;
  width: 30%;
  height: 20%;
  font-size: 2em;
  background-color: goldenrod;
  margin-top: 5%;
  margin-left: 5%;
}

#enviar:hover {
  -webkit-animation: pulse 2s;
  animation: pulse 2s;
}

#checkBox {
  margin-top: 5%;
  margin-left: 5%;
}

#guardianes {
  display: inline;
}

h5 {
  margin-top: 10%;
  text-align: center;
  font-size: 2em;
}

#opiniones {
  display: flex;
  max-width: 100%;
}

.opinion {
  border: rgb(0, 0, 0, 0.2) solid 1px;
  margin: 0 3% 0 3%;
  padding: 5%;
}

.firma {
  margin: 4% 8% 0 8%;
}

#logoFooter {
  display: flex;
  width: 20vw;
}

#footer {
  margin-top: 10vh;
  display: flex;
  background-color: grey;
  height: 30vh;
  justify-content: center;
}

#errorEmail,
#errorNombre,
#errorUsuario,
#errorContrasenna {
  margin-left: 5%;
  color: red;
  font-size: 0.8em;
}

#divFlechaIzquierda,
#divFlechaDerecha {
  height: 1%;
  width: 10%;

  opacity: 50%;
  align-self: center;
  justify-self: center;
  transition: 0.5s;
}
#flechaIzquierda,
#flechaDerecha {
  height: 100%;
  width: 100%;
}

#divFlechaIzquierda:hover,
#divFlechaDerecha:hover {
  width: 12%;
  opacity: 100%;
}

#saludo {
  margin-left: 30%;
  font-weight: 100;
  margin-bottom: 1%;
  border: solid goldenrod 1px;

  padding: 2%;
  background-color: rgba(246, 222, 178, 0.2);
}

#yaHasPedido {
  color: red;
  font-size: 0.8em;
}

#datosEnviados {
  color: green;
  font-size: 0.8em;
}

@media (max-width: 1366px) {
  .facet_sidebar {
    display: none;
  }
  .articulos {
    font-size: 1em;
  }
  .botones {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.5em;
  }
  .camposFormularios {
    font-size: 1.2em;
  }
  .labelFormulario {
    font-size: 1.2em;
  }
  #enviar {
    font-size: 1.3em;
  }

  #acepto {
    font-size: 0.8em;
  }
  h1 {
    font-size: 2em;
  }

  #formulario {
    height: 100%;
  }
  #bordeFormulario {
    height: 10%;
    border: rgb(0, 0, 0, 0.2) solid 1px;
  }
}

@media (max-width: 1024px) {
  h4 {
    font-size: 1.2em;
  }
  .camposFormularios {
    font-size: 0.8em;
  }
  .labelFormulario {
    font-size: 0.8em;
  }
  #acepto {
    font-size: 0.6em;
  }
  #divFormulario {
    margin-top: 2vh;
  }
  #enviar {
    font-size: 1em;
  }
  #divFlechaIzquierda,
  #divFlechaDerecha {
    height: 10vh;
    width: 20%;
  }
  #divFlechaIzquierda:hover,
  #divFlechaDerecha:hover {
    height: 11vh;
    width: 25%;
  }
}
@media (max-width: 890px) {
  #divMovilFormulario {
    margin-top: 10vh;
  }
}
@media (max-width: 820px) {
  #divMovilFormulario {
    margin-top: 25vh;
  }
  #divFlechaIzquierda,
  #divFlechaDerecha {
    height: 10vh;
    width: 30%;
  }
  #divFlechaIzquierda:hover,
  #divFlechaDerecha:hover {
    height: 11vh;
    width: 35%;
  }
}
@media (max-width: 650px) {
  #imagenFondo {
    background-image: url("/assets/img/jumbo@1x.png");
    height: 70vh;
  }
  h1 {
    font-size: 1.8em;
  }
  #transparencia {
    width: 50vw;
  }
  #comoFunciona {
    flex-wrap: wrap;
  }
  .articulos {
    display: inline;
  }
  .botones {
    height: 80px;
    width: 80px;
    font-size: 70px;
    margin-top: 20%;
  }
  #divMovilFormulario {
    display: inline;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
  }
  #movil {
    margin-top: 10%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    width: 40%;
  }
  #opiniones {
    display: inline;
  }
  #divFlechaIzquierda,
  #divFlechaDerecha {
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
    height: auto;
  }
  #divFlechaIzquierda:hover,
  #divFlechaDerecha:hover {
    height: auto;
    margin-left: 44%;
    margin-right: 44%;
    width: 12%;
  }
  #saludo {
    font-size: 0.8em;
    display: flex;
  }
  #logoMaleteo {
    width: 50%;
  }
}
