<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maleteo</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href ="css/menuDesplegable.css">

</head>

<body>

<main>
    <header>
        <picture id="logoMaleteo">
            <a href="/maleteo">  <img src="assets/img/logo.svg" class="imgResponsive"> </a>
        </picture>
        <div class= "divDesplegable">
            <div id="despliego"> Hola, {{app.session.get("nombre")}}  ! <img class= "flechaMenu"  src="assets/img/arrowDown.png" id="flechaMenu"> </div>
            <div class= "desplegable" id="desplegable">
                <a href="/logOut"> Cerrar Sesión</a>
                <a href="/comentar"> Poner un comentario </a>
            </div> </div>
    </header>


    <picture id="imagenFondo">


        <div id="transparencia">
            <div id="dentroTransparencia">
                <h1> Gana dinero guardando equipaje a viajeros como tú</h1>

                <picture class="logoMarkets">
                    <img src="assets/img/app-store.svg" class="imgResponsive">
                </picture>
                <picture class="logoMarkets">
                    <img src="assets/img/google-play.svg" class="imgResponsive">
                </picture>

            </div>
        </div>

    </picture>

    <section id="comoFunciona">
        <h2> ¿Cómo funciona?</h2>
        <div class="articulos">
            <article class="articulo">
                <div class="botones">
                    1
                </div>
                <h3> Date de alta</h3>
                Una olla de algo más vaca que carnero, salpicón de más noches, duelos y quebrantos los sábados.
            </article>
            <article class="articulo">
                <div class="botones">
                    2
                </div>
                <h3> Date de alta</h3>
                Una olla de algo más vaca que carnero, salpicón de más noches, duelos y quebrantos los sábados.
            </article class="articulo">
            <article>
                <div class="botones">
                    3
                </div>
                <h3> Date de alta</h3>
                Una olla de algo más vaca que carnero, salpicón de más noches, duelos y quebrantos los sábados.
            </article>
        </div>
    </section>


    <div id= "divMovilFormulario">
        <picture id="movil">
            <img src="assets/img/iPhoneX@2x.png" class=" imgResponsive">
        </picture>

        <div id="divFormulario">

            <div id="bordeFormulario">

                    {% block form %}
                        <div class="container">
                            <h4> Solicita una demo</h4>
                            {{ form_start(formulario) }}
                            <div id= "acepto">                     <input type="checkbox" name="checkbox" id="checkBox"  value="1" required="required"  >
                                Aceptas la política de privacidad.</div>

                            <input type="submit" value="Enviar" id="enviar" onclick="comprobarCheckbox()">

                            {{ form_end(formulario) }}
                        </div>
                    {% endblock %}

                    {% block title %}

                    {% endblock %}







                </form>
            </div>
        </div>
    </div>


    <footer id="footer">

        <picture id="logoFooter">
            <img src="assets/img/logo.svg" class=" imgResponsive">

        </picture>

    </footer>
</main>

</body>

</html>